@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes pop1 {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(-200px, -200px);
  }
}

@keyframes pop2 {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(0, -200px);
  }
}

@keyframes pop3 {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(200px, -200px);
  }
}

@keyframes pop4 {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(-300px, 0px);
  }
}

@keyframes pop5 {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(300px, 0px);
  }
}

@keyframes pop6 {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(-200px, 200px);
  }
}

@keyframes pop7 {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(0, 200px);
  }
}

@keyframes pop8 {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(200px, 200px);
  }
}

.emoji-pop {
  position: absolute;
  font-size: 3.75rem;
}

.emoji-pop1 {
  animation: pop1 1s forwards;
}

.emoji-pop2 {
  animation: pop2 1s forwards;
}

.emoji-pop3 {
  animation: pop3 1s forwards;
}

.emoji-pop4 {
  animation: pop4 1s forwards;
}

.emoji-pop5 {
  animation: pop5 1s forwards;
}

.emoji-pop6 {
  animation: pop6 1s forwards;
}

.emoji-pop7 {
  animation: pop7 1s forwards;
}

.emoji-pop8 {
  animation: pop8 1s forwards;
}

@keyframes beat {
  0% {
    transform: scale(1);
  }
  14% {
    transform: scale(0.9);
  }
  21% {
    transform: scale(1.1);
  }
  28% {
    transform: scale(1);
  }
  35% {
    transform: scale(1);
  }
}

.heartbeat {
  position: relative;
  z-index: 1;
}

.heartbeat-animation {
  animation: beat 1s linear;
}
